

.n{
  background-image: url("https://media.istockphoto.com/id/1977348709/photo/laughing-young-businesswoman-talking-with-colleagues-in-an-office-hallway.webp?a=1&b=1&s=612x612&w=0&k=20&c=1QrGBVFBZyfg0zm_EETpeG49dbAjIPDEOxKRtf7L16Q=");
  background-repeat: no-repeat;
  border: 3px solid red;
  border-radius: 40px;
}

/* Navbar with Gradient and Animation */
.navbar {
  background: linear-gradient(45deg, #f0f2f3, #e4b6f5);
  /* color: white; */
  padding: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background 0.3s ease-in-out;
}

.navbar:hover {
  background: linear-gradient(45deg, #8a7e8f, #2f80b6);
}

.navbar a {
  /* color: white; */
  padding: 1px 5px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f1c40f;
}
